@charset "utf-8";

@font-face {
	font-family: "Exo Medium";
	src: url('fonts/exo-medium-webfont.woff') format('woff'),
		 url('fonts/exo-medium-webfont.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    font-family: "Exo Medium", Arial, sans-serif;
}

header img {
    height: 50px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 1.5rem;
}

nav ul li {
    margin: 0 7px;
}

nav ul li a {
    text-decoration: none;
    color: #cb0000;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

nav ul li a:hover {
    background-color: #cb0000;
    color: #fff;
}
