@charset "utf-8";

@font-face {
	font-family: "Exo Medium";
	src: url('fonts/exo-medium-webfont.woff') format('woff'),
		 url('fonts/exo-medium-webfont.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

body {
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    font-family: "Exo Medium", Arial, sans-serif;
}

header img {
    height: 50px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding-top: 10px;
    padding-right: 50px;
    font-size: 1.5rem;
}

nav ul li {
    margin: 0 7px;
}

nav ul li a {
    text-decoration: none;
    color: #cb0000;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

nav ul li a:hover {
    background-color: #cb0000;
    color: #fff;
}

main {
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    padding-left: 8%;
}

main h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

main h3 {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

section section {
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 7px;
    padding: 20px;
    margin: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

section section .model-header {
    display: flex;
    align-items: center;
}

section section img {
    width: 25%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 10px;
}

section section:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section section h4 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
}

section section a {
    color: #0077cc;
    text-decoration: none;
}

section section a:hover h4 {
    text-decoration: underline;
}

section section p {
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #eeeeee;
    color: #666666;
    font-size: 0.9rem;
    border-top: 2px solid #e0e0e0;
}

footer p {
    margin-top: 7px;
}


#car {
    display: block;
    margin: 50px auto;
}

#car-body, #car-cabin {
    fill: #cb0000; 
    stroke: #800000;
    stroke-width: 3px;
    rx: 13; 
    ry: 13;
}

#car-cabin {
    fill: #ff3333;
}

#car-window {
    fill: #a0d8f0;
    stroke: #004080;
    stroke-width: 2px;
    rx: 5;
    ry: 5;
}

.wheel {
    fill: #333;
    stroke: #ffffff;
    stroke-width: 5px;
}